@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* universal styles */
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* nav styles */

header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-color: #FFF8F3;
    background-position: center left, bottom right;
}

.heading{
    padding-top: 40px;
}

.nav-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
  margin-bottom: 60px;
  
}

.nav-title h2 {
  font-size: 45px;
  font-weight: 800;
}

.nav-title ul{
    display: flex;
    align-items: center;

    gap: 50px;

}

.nav-title li {
  list-style: none;
}

.nav-title li a {
  text-decoration: none;
  font-size: 20px;
}

/* shared styles */
.text-primary {
  color: #fd6e0a;
}

.dark-2{
    color: #474747;
}

.dark-3{
    color: #757575;
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.btn-secondary{
    font-size: 20px;
    font-weight: 700;
    color: #FD6E0A;
    background-color: white;
    padding: 18px 25px;
    border: 2px solid #FD6E0A;
    border-radius: 8px;
    margin-left: 30px;
}

/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px 0 200px;
    
}

.banner-content{
    max-width: 585px;
}

.banner-content h4{
    font-size: 45px;
    font-weight: 600;
}

.banner-content h1{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-content p{
    font-size: 18px;
    margin-bottom: 30px;
}