@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* universal styles */
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* nav styles */
.nav-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 200px;
}

.nav-title h2 {
  font-size: 45px;
  font-weight: 800;
}

.nav-title ul{
    display: flex;
    align-items: center;

    gap: 50px;

}

.nav-title li {
  list-style: none;
}

.nav-title li a {
  text-decoration: none;
  font-size: 20px;
}

/* shared styles */
.text-primary {
  color: #fd6e0a;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}