
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
     font-family: "Open Sans", sans-serif;
     margin: 0;
     padding: 0;
}

.nav-title{
    display: flex;
    justify-content: space-between;
}

.nav-title h2{
    font-size: 45px;
    font-weight: 800;

}

.text-primary{
    color: #FD6E0A;
}

.nav-title li{
    list-style: none;
}

.nav-title li a{
    text-decoration: none;

}