@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* universal styles */
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* navbar styles */

header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-color: #fff8f3;
  background-position: center left, bottom right;
}

.heading {
  padding-top: 40px;
}

.nav-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
  margin-bottom: 60px;
}

.nav-title h2 {
  font-size: 45px;
  font-weight: 800;
}

.nav-title ul {
  display: flex;
  align-items: center;

  gap: 50px;
}

.nav-title li {
  list-style: none;
}

.nav-title li a {
  text-decoration: none;
  font-size: 20px;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* shared styles */
.text-primary {
  color: #fd6e0a;
}

.dark-2 {
  color: #474747;
}

.dark-3 {
  color: #757575;
}

.btn-primary {
  background-color: #fd6e0a;
  color: white;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.btn-secondary {
  font-size: 20px;
  font-weight: 700;
  color: #fd6e0a;
  background-color: white;
  padding: 18px 25px;
  border: 2px solid #fd6e0a;
  border-radius: 8px;
  margin-left: 30px;
}

.section-title {
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  font-size: 18px;
  margin-bottom: 40px;
}

/* banner part styles */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px 0 200px;
}

.banner-content {
  max-width: 585px;
}

.banner-content h4 {
  font-size: 45px;
  font-weight: 600;
}

.banner-content h1 {
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

/* about section styles */
.about {
  background-color: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
  margin: 130px 0;

  text-align: center;
}

.about-content {
  max-width: 830px;
  margin: 0 auto;
}

.about-title {
  margin-bottom: 30px;
}

.about-items {
  display: flex;
  justify-content: space-between;
}

.item-title {
  font-size: 20px;
  margin-bottom: 8px;
}

.item-description {
  font-size: 20px;
  font-weight: 700;
}

/* what i do section styles */
.what {
  margin-bottom: 130px;
}

.what-content {
  text-align: center;
  padding: 0 70px;
}

.skill-container {
  display: flex;
  gap: 30px;
}

.skill {
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}

.skill img {
  margin-bottom: 30px;
}

.skill-title {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}

.skill-description {
  line-height: 28px;
}

/* resume section styles */
.resume {
  margin-bottom: 130px;
}

.resume-heading {
  text-align: center;
  margin-bottom: 80px;
}

.resume-container {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.resume-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.resume-subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.resume-description {
  margin-bottom: 30px;
}

.resume-item hr {
  margin-bottom: 30px;
  border: 1px solid #d1d1d1;
}

/* footer styles */
footer {
  padding: 130px 0 210px 0;
  background-color: #fff8f3;
}

.footer-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 115px;
}

.connect-container {
  width: 562px;
}

.footer-title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-description {
  margin-bottom: 30px;
}

.footer-icons {
  display: flex;
  gap: 24px;
}

.message-container {
  width: 50%;
}

.message-container input,
textarea {
  display: block;
  margin-bottom: 30px;
  padding: 18px 30px;
  width: 100%;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
}

.hide {
  display: none;
}

/* FOR MOBILE DEVICES */
@media screen and (max-width: 576px) {
  /* NAVBAR STYLES */
  .nav-title {
    flex-direction: column;
    gap: 30px;
    margin: 0px 20px 90px 20px;
  }

  header {
    background-image: none, none;
  }

  .nav-title ul {
    /* flex-direction: column; */
    gap: 20px;
  }

  .btn-primary {
    padding: 10px;
    font-size: 18px;
  }

  /* BANNER STYLES */
  .banner {
    flex-direction: column;
    margin: 0 10px;
  }

  .banner-image img {
    width: 100%;
  }

  .banner-content {
    text-align: center;
    margin-bottom: 45px;
  }

  .banner-content h4 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .banner-content h1 {
    font-size: 60px;
  }

  .banner-content p {
    font-size: 16px;
  }

  .btn-secondary {
    padding: 10px;
    margin-top: 15px;
    margin-left: 0px;
  }

  /* ABOUT SECTION STYLES */
  .about {
    padding: 30px 15px 30px 15px;
    margin: 80px 0px;
  }

  .about-content {
    margin: 0;
  }

  .about-description br {
    display: none;
  }

  .about-items {
    flex-direction: column;
    /* justify-content: flex-start; */
    gap: 25px;
  }

  .about-items .item-title {
    font-size: 16px;
  }
  .about-items .item-description {
    font-size: 17px;
  }

  .section-title {
    font-size: 24px;
  }

  .section-description {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }

  /* WHAT SECTION STYLES */
  .what-content {
    padding: 20px;
  }

  .skill-container {
    flex-direction: column;
    margin: 0 15px;
  }

  /* RESUME SECTION STYLES */
  .resume {
    margin: 0 20px 80px;
  }

  .resume-heading {
    margin-bottom: 40px;
  }

  .resume-container {
    flex-direction: column;
  }


  /* FOOTER STYLES */
  footer{
    padding: 50px 15px;
  }
  .footer-container{
    flex-direction: column;
    gap: 40px;
  }

  .connect-container {
    width: 100%;
  }

  .message-container {
    width: 100%;
  }

  .message-container input, textarea {
    box-sizing: border-box;
    /* width: 100%; */
  }
}
